# Local settings
local.settings.json
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
venvv/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json